/*----- Shoppify section banner Section
--------------------------------------------------------------*/
.shoppify-section-banner img {
  object-position: top;
  margin: 50px;
}
@media screen and (max-width: 1199px) {
  .shoppify-section-banner img {
    opacity: 0.3;
  }
}
